node_red_diagram
[{"id":"b0fe566.f4f01a8","type":"bean","z":"726b35c8.8d94cc","name":"bb1","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"ae41892.f51be78","type":"bean","z":"726b35c8.8d94cc","name":"bb2","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"128380ef.ed7c7f","type":"bean","z":"726b35c8.8d94cc","name":"bb4","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"a87ff18e.57801","type":"bean","z":"726b35c8.8d94cc","name":"bb5","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"1f37369c.e0c8c9","type":"bean","z":"726b35c8.8d94cc","name":"bb3","uuid":"","connectiontype":"timeout","connectiontimeout":"60"},{"id":"a3deb37f.5c215","type":"inject","z":"726b35c8.8d94cc","name":"","topic":"e","payload":"hello world!","payloadType":"string","repeat":"","crontab":"","once":true,"x":110.5,"y":465.6666679382324,"wires":[["fa5d80fb.05a28"]]},{"id":"91ff47cd.6e00b8","type":"debug","z":"726b35c8.8d94cc","name":"","active":true,"console":"false","complete":"payload","x":1249.6665954589844,"y":483.6666488647461,"wires":[]},{"id":"fa5d80fb.05a28","type":"bean serial","z":"726b35c8.8d94cc","name":"","bean":"1f37369c.e0c8c9","newline":"\\n","bin":"false","out":"char","addchar":true,"x":283.5,"y":465.6666793823242,"wires":[["64af2024.9b50e"]]},{"id":"d11885d9.2ee778","type":"inject","z":"726b35c8.8d94cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":293.6666564941406,"y":309.6666488647461,"wires":[["2c90d85c.d36f28"]]},{"id":"2c90d85c.d36f28","type":"bean accel","z":"726b35c8.8d94cc","name":"","bean":"a87ff18e.57801","x":734.6666259765625,"y":310.6666488647461,"wires":[["a6d5c1a5.592a4"]]},{"id":"a6d5c1a5.592a4","type":"function","z":"726b35c8.8d94cc","name":"","func":"msg.payload=\"bb5:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":891.6665954589844,"y":310.6666488647461,"wires":[["91ff47cd.6e00b8","b580c54a.4a7f38"]]},{"id":"64af2024.9b50e","type":"function","z":"726b35c8.8d94cc","name":"","func":"if (msg.payload.indexOf('end') > -1){\n    msg.payload='end';\n    return [null,msg];\n}\nelse{\n    var l=msg.payload.length;\n    msg.payload=\"bb3:\"+msg.payload.substring(1,l-2);\n    return [msg,null];\n}","outputs":"2","noerr":0,"x":484.4999084472656,"y":464.6666488647461,"wires":[["91ff47cd.6e00b8","b580c54a.4a7f38","2c90d85c.d36f28","f2c5a5a5.0d3a58","9e195352.61e6b","a0b883a8.5f478","fa5d80fb.05a28"],["91ff47cd.6e00b8","b580c54a.4a7f38"]]},{"id":"e7e12890.181ed8","type":"inject","z":"726b35c8.8d94cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":287.6666564941406,"y":367.6666488647461,"wires":[["f2c5a5a5.0d3a58"]]},{"id":"f2c5a5a5.0d3a58","type":"bean accel","z":"726b35c8.8d94cc","name":"","bean":"128380ef.ed7c7f","x":733.6666259765625,"y":368.6666564941406,"wires":[["3cd5b172.c32a4e"]]},{"id":"3cd5b172.c32a4e","type":"function","z":"726b35c8.8d94cc","name":"","func":"msg.payload=\"bb4:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":890.6665954589844,"y":368.6666488647461,"wires":[["91ff47cd.6e00b8","b580c54a.4a7f38"]]},{"id":"f2b4d187.0d4b3","type":"inject","z":"726b35c8.8d94cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":288.6666564941406,"y":573.6667098999023,"wires":[["9e195352.61e6b"]]},{"id":"9e195352.61e6b","type":"bean accel","z":"726b35c8.8d94cc","name":"","bean":"ae41892.f51be78","x":725.6666259765625,"y":574.6666870117188,"wires":[["fb7ef741.048108"]]},{"id":"fb7ef741.048108","type":"function","z":"726b35c8.8d94cc","name":"","func":"msg.payload=\"bb2:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":881.6665954589844,"y":574.6667098999023,"wires":[["91ff47cd.6e00b8","b580c54a.4a7f38"]]},{"id":"aa0c17ef.55f3e8","type":"inject","z":"726b35c8.8d94cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":287.6666564941406,"y":648.6667098999023,"wires":[["a0b883a8.5f478"]]},{"id":"a0b883a8.5f478","type":"bean accel","z":"726b35c8.8d94cc","name":"","bean":"b0fe566.f4f01a8","x":724.6665954589844,"y":649.6667098999023,"wires":[["c50aa7da.3af558"]]},{"id":"c50aa7da.3af558","type":"function","z":"726b35c8.8d94cc","name":"","func":"msg.payload=\"bb1:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":889.6665954589844,"y":649.6667098999023,"wires":[["91ff47cd.6e00b8","b580c54a.4a7f38"]]},{"id":"b580c54a.4a7f38","type":"tcp out","z":"726b35c8.8d94cc","host":"localhost","port":"8887","beserver":"client","base64":false,"end":false,"name":"","x":1227.6666564941406,"y":597.6666641235352,"wires":[]}]
